[Unit]
Description=Cuckoo 
After=cuckoo-rooter.service

[Service]
Type=simple
ExecStart=/usr/bin/cuckoo 
KillMode=process
Restart=always
RestartSec=3
[Install]
WantedBy=multi-user.target
